<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>See any kink of movies</h1>
  </div>
</div>

<div class='list container pt-3'>
  <h5>My lists</h5>
  <div class='d-flex'>
      <% @lists.each do |list| %>
      <div class="card-list p-4 m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1572177191856-3cde618dee1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=564&q=80)">
          <%= link_to list.name, list_path(list) %>
        </div>
      <% end %>
    </div>
        <%= link_to "New List", new_list_path, class: "btn btn-primary" %>
  </div>
